<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="app">
        <h2><i class="fa-solid fa-list-ol"></i>  TODO List</h2>
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">
                <i class="fas fa-plus-circle"></i> 
                Add</button>
        </form>
        <ul>
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.isDone">
                <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
            <button v-on:click="deleteItem(index)"> <i class="fas fa-trash-alt"></i>
                Delete
            </button>
            </li>
        </ul>
        <!--<pre>{{ $data }}</pre> -->
    </div>
    
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="main.js"></script>
</body>
</html>